* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {

}

input[type="submit"],
button {
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    outline: none;
}

img {
    pointer-events: none;
}